@import "pallete.css";

html,
body {
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    text-align: left;
    background-color: var(--mid-blue) !important;
    text-align: center !important;
    font-family: "Raleway", Helvetica, sans-serif !important;
    min-width: 320px !important;
    display: flex !important;
    flex-direction: column !important;
}

#title{
    color: var(--white);
    font-family: system-ui;
    font-weight: 800;
    margin: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top_users_span{
    text-align: left;
}

.top_users{
    text-align: left;
    color: var(--dark-blue);
    font-weight: 700;   
     margin-left: 100px;

}

.left{
    margin-left: 21rem;
}