@import 'pallete.css';

.pagination {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-weight: 600;
}

.pagination a {
    color: var(--dark-blue-shade);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    height: 40px;
}

.pagination a.active {
    background-color: var(--mid-blue);
    color: var(--white);
    border-radius: 4px;
    height: 40px;
}

.pagination a:hover:not(.active) {
    background-color: var(--grey);
    border-radius: 4px;
}

.pages_details{
    margin-top: 14px;
    color: #333d4c;
    font-size: 12px;
}