:root {
    --dark-blue: #222331;
    --dark-blue-shade: #303d4d;
    --mid-blue: #627B9C;
    --light-blue: #5cabcf;
    --yellow: #b98e3e;
    --light-yellow: #FFD78C;
    --dark-grey: #aeaeae;
    --grey: #E5E5E5;
    --light-grey: #F0F0F0;
    --black: #131313;
    --white: #fffefb;
}